# Token GitHub personnel pour éviter le Rate Limit des repos.
# Scope minimal requis : "public_repo" en lecture uniquement. (Facultatif mais recommandé)
GITHUB_TOKEN=ton_token_github_ici

# Acces Key pour le connecteur Unsplash (images/textures)
# Inscription: https://unsplash.com/developers (Facultatif, requis seulement si 'unsplash' est "enabled: true" dans sources.json)
UNSPLASH_ACCESS_KEY=ton_token_unsplash_ici

# API Key pour le connecteur Freesound (sons/bruitages)
# Inscription: https://freesound.org/help/developers/ (Facultatif, requis seulement si 'freesound' est "enabled: true" dans sources.json)
FREESOUND_API_KEY=ton_token_freesound_ici
